$font-family: 'Montserrat', sans-serif;

$color-primary: #0d6efd;
$color-dark: #212529;
$color-light: #f8f9fa;
$color-secondary: #6c757d;
$color-danger: #dc3545;
$color-separator: #e0e0e0;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$black: #000000;
$main-bg-light: #fbfbfb;
$content-bg-light: #fdfdfd;

$content-border-radius: 10px;
$border-radius: 8px;

$shadow-1: 0px 0px 10px 0px rgba($color-dark, 0.1);
