@use '@/styles/_variables.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  color: $color-dark;
  background-color: $page;
}

.container {
  max-width: 1266px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
